body{
	font-family: outfit;
	padding: 0px;
	margin: 0px;
}
select, option{
	padding: 5px;
	border-radius: 3px;
	font-family: outfit;
}
button,
.button{
	border-radius: 3px;
	font-family: outfit;
	border: none;
	padding: 7px;
	text-align: center;
	background-color: slategrey;
	width: 70px;
	height: 40px;
}
.head{
	background-color: slategrey;
	border: none;
	width: 100vw;
	border: none;
	flex-shrink: 0;
	height: 9vh;
	padding: 0;
	text-decoration: none;
	text-align: center;
}
.whole{
	border: none;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;

}
.not{
	margin-left: 0px;
	text-align: left;
}
button:hover,
.button:hover {
	border-radius: 3px;
	font-family: outfit;
	border: none;
	padding: 7px;
	text-align: center;
	background-color: grey;
	width: 70px;
	height: 40px;
	color: white;
}
.center{
	text-align: center;
	margin-left: 25vw;
	margin-right: 25vw;
}
